@import './mixins/exports';

@include exports('ray-base') {
  html {
    font-size: $ray-base-font-size;
  }

  body {
    font-family: $ray-font-stack-sans-serif;
    color: $ray-color-text-dark;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  * {
    box-sizing: border-box;
  }

  [disabled] {
    cursor: not-allowed;
  }

  a {
    text-decoration: none;
    color: $ray-color-blue-50;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.no-underline {
      &:hover,
      &:focus {
        text-decoration: none !important;
      }
    }
  }
}
