@import './mixins/exports';

@mixin ray-display-1 {
  font-size: 64px;
  line-height: 88px;
}

@mixin ray-display-2 {
  font-size: 48px;
  line-height: 64px;
}

@mixin ray-h1 {
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 1.5rem;
}

@mixin ray-h2 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1.5rem;
}

@mixin ray-h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}

@mixin ray-h4 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 1rem;
}

@mixin ray-h5 {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1rem;
}

@mixin ray-h6 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 1rem;
}

@mixin ray-body {
  font-size: 16px;
  line-height: 28px;
}

@mixin ray-body-large {
  font-size: 20px;
  line-height: 32px;
}

@mixin ray-body-small {
  font-size: 14px;
  line-height: 24px;
}

@mixin ray-body-x-small {
  font-size: 12px;
  line-height: 20px;
}

@include exports('ray-typography') {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .#{$ray-class-prefix}text--display-1 {
    @include ray-display-1;
  }

  .#{$ray-class-prefix}text--display-2 {
    @include ray-display-2;
  }

  .#{$ray-class-prefix}text--h1,
  .#{$ray-class-prefix}text--h2,
  .#{$ray-class-prefix}text--h3,
  .#{$ray-class-prefix}text--h4,
  .#{$ray-class-prefix}text--h5,
  .#{$ray-class-prefix}text--h6 {
    font-weight: bold;
    margin: 0;
  }

  .#{$ray-class-prefix}text--h1 {
    @include ray-h3;

    @media (min-width: map-get($ray-grid-breakpoints, md)) {
      @include ray-h2;
    }

    @media (min-width: map-get($ray-grid-breakpoints, lg)) {
      @include ray-h1;
    }
  }

  .#{$ray-class-prefix}text--h2 {
    @include ray-h4;

    @media (min-width: map-get($ray-grid-breakpoints, md)) {
      @include ray-h3;
    }

    @media (min-width: map-get($ray-grid-breakpoints, lg)) {
      @include ray-h2;
    }
  }

  .#{$ray-class-prefix}text--h3 {
    @include ray-h4;

    @media (min-width: map-get($ray-grid-breakpoints, lg)) {
      @include ray-h3;
    }
  }

  .#{$ray-class-prefix}text--h4 {
    @include ray-h5;

    @media (min-width: map-get($ray-grid-breakpoints, lg)) {
      @include ray-h4;
    }
  }

  .#{$ray-class-prefix}text--h5 {
    @include ray-h5;
  }

  .#{$ray-class-prefix}text--h6 {
    @include ray-h6;
  }

  p {
    font-weight: 400;
    margin: 0;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .#{$ray-class-prefix}text--body-large {
    @include ray-body;

    @media (min-width: map-get($ray-grid-breakpoints, md)) {
      @include ray-body-large;
    }
  }

  .#{$ray-class-prefix}text--body {
    @include ray-body;
  }

  .#{$ray-class-prefix}text--body-small {
    @include ray-body-small;
  }

  .#{$ray-class-prefix}text--body-x-small {
    @include ray-body-x-small;
  }

  .#{$ray-class-prefix}text--monospace {
    font-family: $ray-font-stack-mono;
    font-weight: 400;
  }

  .#{$ray-class-prefix}blockquote {
    padding: $ray-spacing-md;
    margin: $ray-spacing-lg 0;
    background-color: $ray-color-gray-02;
    color: $ray-color-text-dark;
    border-radius: $ray-border-radius;
    border: 1px solid $ray-color-gray-10;
    border-left: 2px solid $ray-color-blue-50;
  }

  .#{$ray-class-prefix}blockquote__footer {
    @include ray-body-small;
    font-weight: 400;
    font-family: $ray-font-stack-mono;
    color: $ray-color-text-medium;

    &::before {
      content: '\2014\00A0';
    }
  }

  .#{$ray-class-prefix}running-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3rem 0 1rem;
    }

    h1 {
      @extend .#{$ray-class-prefix}text--h1;
    }

    h2 {
      @extend .#{$ray-class-prefix}text--h2;
    }

    h3 {
      @extend .#{$ray-class-prefix}text--h3;
    }

    h4 {
      @extend .#{$ray-class-prefix}text--h4;
    }

    h5 {
      @extend .#{$ray-class-prefix}text--h5;
    }

    h6 {
      @extend .#{$ray-class-prefix}text--h6;
    }

    p {
      @extend .#{$ray-class-prefix}text--body;
    }

    small {
      @extend .#{$ray-class-prefix}text--body-small;
    }

    ul,
    ol {
      margin: 10px 0;
      padding-left: 30px;
    }

    ul li {
      list-style-type: circle;
    }

    ol li {
      list-style-type: decimal;
    }

    blockquote {
      @extend .#{$ray-class-prefix}blockquote;
    }
  }

  @if global-variable-exists(ray-assign-typography-styles-natively) ==
    false or
    $ray-assign-typography-styles-natively ==
    true
  {
    h1 {
      @extend .#{$ray-class-prefix}text--h1;
    }

    h2 {
      @extend .#{$ray-class-prefix}text--h2;
    }

    h3 {
      @extend .#{$ray-class-prefix}text--h3;
    }

    h4 {
      @extend .#{$ray-class-prefix}text--h4;
    }

    h5 {
      @extend .#{$ray-class-prefix}text--h5;
    }

    h6 {
      @extend .#{$ray-class-prefix}text--h6;
    }

    blockquote {
      @extend .#{$ray-class-prefix}blockquote;
    }

    small {
      @extend .#{$ray-class-prefix}text--body-small;
    }
  }
}
