$_imported: () !default;

/** Module exports mixin
 * This mixin makes sure a module is imported only once.
 * @param {String} $name - Name of exported module
 **/
@mixin exports($name) {
  @if (index($_imported, $name) == null) {
    $_imported: append($_imported, $name) !global;
    @content;
  }
}
