@import '../mixins/exports';

@mixin label {
  @include no-select;

  font-family: $ray-font-stack-mono;
  font-size: $ray-field-label-size;
  line-height: 1;
  font-weight: 400;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: $ray-field-h-spacing;
  padding-right: $ray-field-h-spacing;
  padding-top: $ray-field-v-spacing;
  color: $ray-color-text-medium;
  transition: padding 0.2s ease, top 0.2s ease, left 0.2s ease;
  height: 100%;
  width: 100%;
  max-width: calc(100% - 12px);

  // handle truncating label
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin label--active {
  font-size: $ray-field-label-size-focus;
  padding-top: 0;
  pointer-events: none;

  top: -1 * $ray-field-h-spacing / 2;
  left: $ray-field-h-spacing / 2;
  padding-left: $ray-field-h-spacing / 2;
  padding-right: $ray-field-h-spacing / 2;
  width: auto;
  height: auto;
  background: $ray-color-white;
}

@mixin text-field--has-value {
  .#{$ray-class-prefix}text-field__label,
  .#{$ray-class-prefix}text-area__label {
    @include label--active;
  }

  .#{$ray-class-prefix}text-field__input,
  .#{$ray-class-prefix}text-area__input {
    &::placeholder {
      color: $ray-color-text-light !important;
    }
  }

  &.#{$ray-class-prefix}text-field--compact,
  &.#{$ray-class-prefix}text-area--compact {
    .#{$ray-class-prefix}text-field__label,
    .#{$ray-class-prefix}text-area__label {
      padding-top: 0;
    }
  }
}

@mixin text-field--focus {
  border-color: $ray-color-blue-50;

  .#{$ray-class-prefix}text-field__label,
  .#{$ray-class-prefix}text-area__label {
    color: $ray-color-blue-50;
  }
}

@mixin compact-label--active {
  + .#{$ray-class-prefix}text-field__label,
  + .#{$ray-class-prefix}text-area__label {
    padding-top: 0;
    pointer-events: none;
  }
}

@mixin input--active {
  + .#{$ray-class-prefix}text-field__label,
  + .#{$ray-class-prefix}text-area__label {
    @include label--active;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@keyframes wipe-in {
  from {
    height: 100%;
  }

  50% {
    opacity: 1;
  }

  to {
    height: $ray-border-radius;
    opacity: 0;
  }
}

@mixin wipe-element {
  content: '';
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

@mixin wipe-animate {
  animation: wipe-in 0.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.075s;
}

@mixin icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  line-height: 1;
  top: 20px;
  border-radius: 2px;
}
@mixin icon-support($class) {
  &__icon--left {
    @include icon;
    left: $ray-field-h-spacing;
  }

  &__icon--right {
    @include icon;
    // add spacing to compensate for the
    right: calc(#{$ray-field-h-spacing} * 2 + 12px);
  }

  &--with-icon-left {
    .#{$ray-class-prefix}#{$class}__input,
    .#{$ray-class-prefix}#{$class}__label {
      padding-left: calc(
        #{$ray-field-h-spacing} * 2 + #{$ray-field-icon-width}
      );
    }
  }

  &--with-icon-right {
    .#{$ray-class-prefix}#{$class}__input,
    .#{$ray-class-prefix}#{$class}__label {
      padding-right: calc(
        #{$ray-field-h-spacing} * 2 + #{$ray-field-icon-width}
      );
    }
  }

  &--compact {
    .#{$ray-class-prefix}#{$class}__icon--left,
    .#{$ray-class-prefix}#{$class}__icon--right {
      top: $ray-field-v-spacing-compact;
    }
  }
}
