version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Confirm project can build
          command: |
            yarn build
