@import '../../global/variables';
@import '../../global/typography';
@import '../../global/mixins/exports';

@mixin image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: $ray-border-radius;
  background-color: $ray-color-gray-10;

  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // hide alt text if image does not load
    text-indent: -9999px;
  }
}

@mixin background {
  display: block;
  width: 100%;
  height: auto;
  background-color: $ray-color-gray-10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: $ray-border-radius;
}
@include exports('ray-image') {
  .#{$ray-class-prefix}caption {
    @include ray-body-x-small;

    max-height: 2.5rem;
    color: $ray-color-gray-60;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: $ray-spacing-xs;

    [dir='rtl'] & {
      text-align: left;
    }
  }

  .#{$ray-class-prefix}image {
    @include image;

    @each $ratio, $value in $ray-image-ratio-map {
      &--#{$ratio} {
        padding-bottom: $value;
      }
    }
  }

  .#{$ray-class-prefix}bg {
    @include background;

    @each $ratio, $value in $ray-image-ratio-map {
      &--#{$ratio} {
        padding-bottom: $value;
      }
    }
  }
}
