@mixin image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: $ray-border-radius;
  background-color: $ray-color-gray-10;

  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.#{$ray-class-prefix}image {
  @include image;

  &--16by9 {
    padding-bottom: calc(100% / (16 / 9));
  }

  &--3by4 {
    @include image;
    padding-bottom: calc(100% / (3 / 4));
  }

  &--4By3 {
    @include image;
    padding-bottom: calc(100% / (4 / 3));
  }
}

@mixin background {
  display: block;
  width: 100%;
  height: auto;
  background-color: $ray-color-gray-10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: $ray-border-radius;
}

.#{$ray-class-prefix}bg {
  @include background;

  &--16by9 {
    padding-bottom: calc(100% / (16 / 9));
  }

  &--3by4 {
    @include background;
    padding-bottom: calc(100% / (3 / 4));
  }

  &--4by3 {
    @include background;
    padding-bottom: calc(100% / (4 / 3));
  }
}
