@mixin nav-h-padding {
  padding-left: map-get($ray-layout-grid-default-gutter, phone);
  padding-right: map-get($ray-layout-grid-default-gutter, phone);

  @media (min-width: map-get($ray-layout-grid-breakpoints, desktop)) {
    padding-left: $ray-spacing-xl;
    padding-right: $ray-spacing-xl;
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  z-index: 7000;
  height: 100vh;
  background-color: #f6f6f9;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-left: calc(-1 * #{map-get($ray-layout-grid-default-margin, desktop)});
  padding-left: map-get($ray-layout-grid-default-margin, desktop);
  transition: left 0.15s ease; // stylelint-disable-line property-blacklist
  overflow-y: scroll;
  z-index: 999;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &--open {
    left: 0;
  }

  //  sticky
  position: sticky;
  top: 0;
  align-self: flex-start;

  @media (min-width: map-get($ray-layout-grid-max-width, desktop)) {
    margin-left: calc(
      -1 * ((100vw - #{map-get($ray-layout-grid-max-width, desktop)}) / 2 + #{map-get(
              $ray-layout-grid-default-margin,
              desktop
            )})
    );
    padding-left: calc(
      ((100vw - #{map-get($ray-layout-grid-max-width, desktop)})) / 2 + #{map-get(
          $ray-layout-grid-default-margin,
          desktop
        )}
    );
  }
}

.side-nav--mobile-toggle {
  position: fixed;
  top: 1rem;
  left: calc(#{map-get($ray-layout-grid-default-gutter, phone)} - 0.5rem);
  cursor: pointer;
  z-index: 7001;
  padding: 0.5rem;
  background-color: $ray-color-white;
  border: 1px solid $ray-color-gray-10;

  &:hover {
    border-color: $ray-color-blue-50;
  }

  @media (min-width: map-get($ray-layout-grid-breakpoints, desktop)) {
    display: none;
  }
}

.side-nav__item {
  a {
    @include nav-h-padding;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    color: $ray-color-text-medium;
    border-radius: $ray-border-radius 0 0 $ray-border-radius;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-bottom: 1px;

    &:hover {
      background-color: $ray-color-gray-10;
      color: $ray-color-text-dark;
      text-decoration: none;
    }

    &.active {
      color: $ray-color-text-dark;
      font-weight: 600;
    }
  }

  ul {
    margin-bottom: 0.5rem;
  }
}

.side-nav__item--heading {
  @include nav-h-padding;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: $ray-spacing-xl;
  color: black;
  display: flex;
  align-items: center;
}

.side-nav--items {
  width: 100%;
  overflow-y: auto;
}

.side-nav--header {
  margin-bottom: 1.25rem;
  @include nav-h-padding;
}

.side-nav__heading {
  @extend .ray-text--h3;
  display: inline-block;
  color: $ray-color-text-dark;
  text-decoration: none;
  line-height: 1.2;
  margin: 0 0 0.25rem;
  white-space: nowrap;

  &:hover {
    color: $ray-color-blue-50;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
    color: $ray-color-blue-60;
  }

  .side-nav__version {
    font-size: 1rem;
    color: $ray-color-text-light;
    font-weight: 400;
  }
}

.side-nav__github {
  @extend .ray-text--body-small;
  display: block;
}

.side-nav__nav-items {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: $ray-spacing-2xl;
}
