.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 7000;
  overflow-y: auto;
  background-color: hsla(240, 17%, 98%, 1);
  position: sticky;
  left: 0;
  top: 0;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  padding: $ray-spacing-2xl $ray-spacing-xl;
  border-right: 1px solid $ray-color-gray-10;
}

.side-nav__item {
  padding: 2px 0;

  ul {
    margin-bottom: 0.5rem;
  }
}

.side-nav--items {
  width: 100%;
}

.side-nav--header {
  border-bottom: 1px solid $ray-color-gray-10;
  padding-bottom: $ray-spacing-lg;
  margin-bottom: $ray-spacing-lg;
  display: flex;
  flex-direction: column;
}

.side-nav__heading {
  @extend .ray-h6;
  display: inline-block;
  color: $ray-color-text-dark;
  text-decoration: none;
  line-height: 1.2;
  margin: 0 0 0.25rem;
  white-space: nowrap;
  &:hover {
    color: $ray-color-blue-50;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
    color: $ray-color-blue-50;
  }
}

.side-nav__github {
  @extend .ray-p5;
}

.side-nav__version {
  @extend .ray-p5;
  padding: $ray-spacing-md 0;
  opacity: 0.75;
}

.side-nav__nav-items {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: $ray-spacing-2xl;
}
