@mixin nav-h-padding {
  padding-left: map-get($ray-container-gutters, sm);
  padding-right: map-get($ray-container-gutters, sm);

  @media (min-width: map-get($ray-grid-breakpoints, lg)) {
    padding-left: $ray-spacing-xl;
    padding-right: $ray-spacing-xl;
  }
}

.side-nav {
  position: fixed;
  left: -100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 7000;
  overflow-y: auto;
  background-color: hsla(240, 17%, 98%, 1);
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  border-right: 1px solid $ray-color-gray-10;
  transition: left 0.15s ease;
  padding: 4rem 0;

  &--open {
    left: 0;
  }

  @media (min-width: map-get($ray-grid-breakpoints, lg)) {
    position: sticky;
    left: 0;
    top: 0;
    padding: $ray-spacing-2xl 0;
  }
}

.side-nav--mobile-toggle {
  position: fixed;
  top: 1rem;
  left: map-get($ray-container-gutters, sm);
  cursor: pointer;
  z-index: 7001;
  padding: 0 !important;

  @media (min-width: map-get($ray-grid-breakpoints, lg)) {
    display: none;
  }
}

.side-nav__item {
  a {
    @include nav-h-padding;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    color: $ray-color-text-medium;

    &:hover {
      background-color: $ray-color-gray-10;
      color: $ray-color-text-dark;
      text-decoration: none;
    }

    &.active {
      color: $ray-color-text-dark;
      font-weight: 600;
    }
  }

  ul {
    margin-bottom: 0.5rem;
  }
}

.side-nav__item--heading {
  @include nav-h-padding;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: $ray-spacing-xl;
  color: black;
  display: flex;
  align-items: center;

  &::after {
    width: 100%;
    height: 1px;
    content: '';
    background-color: $ray-color-gray-10;
    display: block;
    margin-left: 1rem;
  }
}

.side-nav--items {
  width: 100%;
}

.side-nav--header {
  border-bottom: 1px solid $ray-color-gray-10;
  padding-bottom: $ray-spacing-lg;
  margin-bottom: $ray-spacing-lg;
  @include nav-h-padding;
}

.side-nav__heading {
  @extend .ray-text--h3;
  display: inline-block;
  color: $ray-color-text-dark;
  text-decoration: none;
  line-height: 1.2;
  margin: 0 0 0.25rem;
  white-space: nowrap;

  &:hover {
    color: $ray-color-blue-50;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
    color: $ray-color-blue-60;
  }

  .side-nav__version {
    font-size: 1rem;
    color: $ray-color-text-light;
    font-weight: 400;
  }
}

.side-nav__github {
  @extend .ray-text--body-small;
  display: block;
}

.side-nav__nav-items {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: $ray-spacing-2xl;
}
