@import 'global/variables';

:export {
  @each $key, $value in $ray-layout-grid-breakpoints {
    ray-breakpoint-#{$key}: $value;
  }

  @each $key, $value in $ray-layout-grid-columns {
    ray-grid-breakpoint-columns-#{$key}: $value;
  }

  @each $key, $value in $ray-layout-grid-default-margin {
    ray-grid-margin-#{$key}: $value;
  }

  @each $key, $value in $ray-layout-grid-default-gutter {
    ray-grid-gutter-#{$key}: $value;
  }

  @each $key, $value in $ray-layout-grid-column-width {
    ray-grid-column-width-#{$key}: $value;
  }

  @each $key, $value in $ray-layout-grid-max-width {
    ray-grid-max-width-#{$key}: $value;
  }

  ray-color-white: $ray-color-white;
  ray-color-black: $ray-color-black;
  ray-color-blue-10: $ray-color-blue-10;
  ray-color-blue-20: $ray-color-blue-20;
  ray-color-blue-50: $ray-color-blue-50;
  ray-color-blue-60: $ray-color-blue-60;
  ray-color-blue-70: $ray-color-blue-70;
  ray-color-yellow-50: $ray-color-yellow-50;
  ray-color-red-10: $ray-color-red-10;
  ray-color-red-20: $ray-color-red-20;
  ray-color-red-50: $ray-color-red-50;
  ray-color-red-60: $ray-color-red-60;
  ray-color-red-70: $ray-color-red-70;
  ray-color-green-10: $ray-color-green-10;
  ray-color-green-20: $ray-color-green-20;
  ray-color-green-70: $ray-color-green-70;
  ray-color-green-80: $ray-color-green-80;
  ray-color-green-90: $ray-color-green-90;
  ray-color-gray-02: $ray-color-gray-02;
  ray-color-gray-10: $ray-color-gray-10;
  ray-color-gray-30: $ray-color-gray-30;
  ray-color-gray-50: $ray-color-gray-50;
  ray-color-gray-60: $ray-color-gray-60;
}
