$ray-spacing-baseline: 1rem !default;

$ray-spacing-3xs: $ray-spacing-baseline * 0.125 !default;
$ray-spacing-2xs: $ray-spacing-baseline * 0.25 !default;
$ray-spacing-xs: $ray-spacing-baseline * 0.5 !default;
$ray-spacing-sm: $ray-spacing-baseline * 0.75 !default;
$ray-spacing-md: $ray-spacing-baseline !default;
$ray-spacing-lg: $ray-spacing-baseline * 1.25 !default;
$ray-spacing-xl: $ray-spacing-baseline * 1.5 !default;
$ray-spacing-2xl: $ray-spacing-baseline * 2 !default;
$ray-spacing-3xl: $ray-spacing-baseline * 5 !default;
