$temp-bg: #fff;
$temp-text: $ray-color-blue-50;

code[class*='language-'],
pre[class*='language-'] {
  background-color: $code-bg;
  font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
    Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace !important;
  line-height: 1.4 !important;
}

.code-example {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;

  pre,
  code {
    padding: 0 !important;
    margin: 0 !important;
  }

  pre[class*='language-'] {
    padding-top: 0;
    border: none;
    box-shadow: none;
  }
}

.code-example__copy-btn {
  height: 2.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: transparent;
  background-color: #fff;
  cursor: pointer;
  z-index: 20;

  &:hover svg {
    fill: $ray-color-blue-50;
  }

  svg {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
}

.code-example__raw-html {
  background-color: $code-bg;
  border: 1px solid $code-border;
  border-top-width: 0;
  padding: $ray-spacing-md 0 $ray-spacing-md $ray-spacing-md;
  max-height: 12rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  transition: $transition--base; // stylelint-disable-line property-blacklist
  border-bottom-left-radius: $ray-border-radius;
  border-bottom-right-radius: $ray-border-radius;

  &--expanded {
    max-height: 100rem;
  }
}

.code-example__expand {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  &--hidden {
    display: none;
  }
}
