@import '../../global/mixins/exports';

@include exports('ray-card') {
  $card-padding: 1rem;
  $card-border-color: $ray-color-gray-10;

  .#{$ray-class-prefix}card {
    width: 100%;
    border-radius: $ray-border-radius;
    background-color: $ray-color-white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    &--link {
      cursor: pointer;
      color: $ray-color-text-dark;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:focus {
        box-shadow: $ray-box-shadow-focus-state;
        outline: 0;
      }

      &:hover {
        &::after {
          border-color: $ray-color-blue-50;
        }
      }

      &::after {
        content: '';
        border: 1px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $ray-border-radius;
        pointer-events: none;
      }
    }

    &__content {
      flex-grow: 1;
      padding: $card-padding;
      border-left: 1px solid $ray-color-gray-10;
      border-right: 1px solid $ray-color-gray-10;

      &:first-child {
        border-top: 1px solid $ray-color-gray-10;
        border-top-left-radius: $ray-border-radius;
        border-top-right-radius: $ray-border-radius;
      }

      &:last-child {
        border-bottom: 1px solid $ray-color-gray-10;
        border-bottom-left-radius: $ray-border-radius;
        border-bottom-right-radius: $ray-border-radius;
      }
    }

    &__image {
      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
