@import '../../../core/src/ray-core.scss';
@import '../../../core/src/ray-debug.scss';

$font-family: 'Apercu', 'Avenir', 'Helvetica Neue', Arial, sans-serif;
$transition--base: 0.3s;
$code-bg: #282a36;
$code-border: transparent;
$top-nav-height: 4rem;

@import 'mixins';
@import 'page';

@import '../components/404/404.scss';
@import '../components/markdown/markdown.scss';
@import '../components/markdown/image-grid.scss';
@import '../components/PageHeader/page-header.scss';
@import '../components/TopNav/top-nav.scss';
@import '../components/SideNav/side-nav.scss';
@import '../components/ComponentCode/component-code.scss';
@import '../components/CodeExample/code-example.scss';
@import '../components/CodeSnippet/code-snippet.scss';
@import '../components/ColorTable/color-table.scss';
@import '../components/SpaceExample/space-example.scss';
@import 'syntax';
